:root {
  --gray1: #1f1f1f;
  --gray2: #f2f2f2;
  --blue: #2f80ed;
  --black: #000;
  --white: #fff;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.logo_place_footer {
  align-self: flex-start;
}

.header {
  min-height: 600px;
  max-height: 756px;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  z-index: 0;

  background-color: var(--gray2);
  color: var(--black);
}

.header__title {
  width: 730px;

  margin: 0 auto 0 64px;

  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  width: 388px;
  margin: 0;

  position: absolute;
  left: 64px;
  bottom: 30px;

  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__link {
  color: var(--blue);
  text-decoration: none;
}

.header__main-illustration {
  width: 765px;
  height: 608px;

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.header__square-pic {
  width: 568px;
  height: 568px;

  position: absolute;
  right: 0;
  top: 64px;
  z-index: -2;

  background-color: var(--blue);
}

.description {
  margin-top: 100px;
  display: flex;

  color: var(--black);
}

.two-columns {
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  margin: 0;

  color: var(--blue);
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.two-columns__paragraph {
  margin: 0;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.digits {
  margin-top: 100px;

  color: var(--black);
}

.section-title {
  width: 60%;
  margin: 0 auto 20px;

  text-align: center;

  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_dark {
  color: var(--white);
}

.section-subtitle {
  width: 60%;
  margin: 0 auto;

  text-align: center;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_dark {
  color: var(--white);
}

.table {
  width: 1100px;
  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style-type: none;
}

.table_dark {
  color: var(--white);
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading {
  margin: 0;

  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0;

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  min-height: 890px;
  margin-top: 100px;
  padding-top: 100px;
  box-sizing: border-box;

  position: relative;

  background-color: var(--gray2);
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;

  text-align: center;

  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  text-align: center;
  margin: 70px 0 0;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;

  text-decoration: none;
  color: var(--blue);

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  padding: 90px 0;

  position: relative;
  overflow: hidden;
  z-index: 0;

  background-color: var(--gray1);
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.footer {
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;

  background-color: var(--gray1);
  color: var(--white);
}

.footer__columns {
  width: 90%;
  min-height: 250px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__author {
  margin: 18px 0;

  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0;

  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 20px 0 16px;

  display: flex;
  flex-direction: column;
}

.footer__column-link {
  text-decoration: none;
  color: var(--white);

  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
